<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp / Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}">
</head>
<body>
<center>
    <div class="col-sm-4 col-md-4">
    </div>
    <div class="col-sm-4 col-md-4">
        <fieldset>
            <legend>Store - Authorized Login</legend>
            <form action="/register" method="POST">
                <h2>First Time Users:</h2>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </form>
            <br><br>
            <form action="/login" method="POST">
                <h2>Already Registered? </h2>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>
        </fieldset>
    </div>
    <div class="col-sm-4 col-md-4">
    </div>
</center>


</body>
</html>