<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='store_style.css')}}">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    {% block scripts %}
    <script>
        var postData = [];
        var add_product = function (id) {
            var productName = "";
            var price = 0;
            var category = "";
            switch (id) {
                case "prod1":
                    productName = "Google Nexus";
                    price = 650.0;
                    category = "Mobile";
                    break;
                default:
                    break;
            }
            var dummy = "Pavan";
            var dataObj = {"name": productName, "price": price, "category": category};
            postData.push(dataObj);
            $('summary').innerHTML = "Hello ";
            $.post("/post_string", {
                var1: dummy
            });

            $.getJSON("/getpythondata", function (data) {
                /*var items = [];
                 $.each(data, function (key, val) {
                 items.push("<p id='" + key + "'>" + val + "</p>");
                 });*/
//                document.getElementById("summary").innerText = temp.name;
//                var obj = JSON.parse(data)
                var my_name = [];
                for (var i in data) {
                    my_name.push(data[i]);
                }
                var val = "";
                for (var i = 0; i < my_name.length; i++) {
                    val += my_name.pop().name + " ";
                }
                document.getElementById("summary").innerHTML = val;
            });


        };

        var hide_me = function (id) {
            switch (id) {
                case "prod1":
                    $('#prod1').animate({opacity: 0}, 2000);
                    break;
                case "prod2":
                    $('#prod2').animate({opacity: 0}, 2000);
                    break;
                case "prod3":
                    $('#prod3').animate({opacity: 0}, 2000);
                    break;
                case "prod5":
                    $('#prod5').animate({opacity: 0}, 2000);
                    break;
                case "prod6":
                    $('#prod6').animate({opacity: 0}, 2000);
                    break;
                case "prod7":
                    $('#prod7').animate({opacity: 0}, 2000);
                    break;
                case "prod9":
                    $('#prod9').animate({opacity: 0}, 2000);
                    break;
                case "prod10":
                    $('#prod10').animate({opacity: 0}, 2000);
                    break;
                case "prod11":
                    $('#prod11').animate({opacity: 0}, 2000);
                    break;
                default:
                    break;
            }
        }

    </script>
    {% endblock %}
</head>
<body>
<div class="banner">
    <img id="ban" alt="Store Banner" src="../static/images/banner.jpg">
</div>

<div class=".container">

    <div class="row" id="topProd">
        <div id="prod1" class="products">
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="../static/images/mobile01.jpeg" alt="Mobile">
                    <div class="caption">
                        <center><h3>LG Google Nexus 5X H791 16GB 4G LTE</h3>
                            <p>Price: $ 269.00 </p>
                            <p><a href="#prod1" class="btn btn-primary" role="button" onclick="add_product('prod1')">Add
                                to
                                Cart</a>
                                <a href="#prod1" class="btn btn-default" role="button" onclick="hide_me('prod1')">Remove
                                    Product</a></p>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div id="prod2" class="products">
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="../static/images/laptop.jpg" alt="laptop">
                    <div class="caption">
                        <center><h3>Alienware AW15R3-3831SLV Laptop </h3>
                            <p>Price: $ 1,299.99</p>
                            <p><a href="#" class="btn btn-primary" role="button" onclick="add_product('prod2')">Add to
                                Cart</a>
                                <a href="#" class="btn btn-default" role="button" onclick="hide_me('prod2')">Remove
                                    Product</a>
                            </p>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div id="prod3" class="products">
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="../static/images/mobile01.jpeg" alt="Mobile">
                    <div class="caption">
                        <center><h3>General Mobile GM 4G</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a>
                                <a href="#" class="btn btn-default" role="button" onclick="hide_me('prod3')">Remove
                                    Product</a>
                            </p>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div id="prod4" class="products">
            <div class="col-sm-3 col-md-3">
                <fieldset>
                    <legend>Shopping Summary</legend>
                    <!--<p id="summary"> {% if delta == "hey" %} {{ delta }}{% else %} Did not get anything {% endif %} </p>-->
                    <p id="summary"></p>

                </fieldset>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="prod5" class="products">
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="../static/images/mobile01.jpeg" alt="Mobile">
                    <div class="caption">
                        <center><h3>General Mobile GM 4G</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a>
                                <a href="#" class="btn btn-default" role="button" onclick="hide_me('prod5')">Remove
                                    Product</a>
                            </p>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div id="prod6" class="products">
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="../static/images/mobile01.jpeg" alt="Mobile">
                    <div class="caption">
                        <center><h3>General Mobile GM 4G</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a>
                                <a href="#" class="btn btn-default" role="button">Remove Product</a>
                            </p>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div id="prod7" class="products">
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="../static/images/mobile01.jpeg" alt="Mobile">
                    <div class="caption">
                        <center><h3>General Mobile GM 4G</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a>
                                <a href="#" class="btn btn-default" role="button">Remove Product</a>
                            </p>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div id="prod8" class="products">
            <div class="col-sm-3 col-md-3">

            </div>
        </div>
    </div>

    <div class="row">
        <div id="prod9" class="products">
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="../static/images/mobile01.jpeg" alt="Mobile">
                    <div class="caption">
                        <center><h3>General Mobile GM 4G</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a>
                                <a href="#" class="btn btn-default" role="button">Remove Product</a>
                            </p>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div id="prod10" class="products">
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="../static/images/mobile01.jpeg" alt="Mobile">
                    <div class="caption">
                        <center><h3>General Mobile GM 4G</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a>
                                <a href="#" class="btn btn-default" role="button">Remove Product</a>
                            </p>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div id="prod11" class="products">
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="../static/images/mobile01.jpeg" alt="Mobile">
                    <div class="caption">
                        <center><h3>General Mobile GM 4G</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a>
                                <a href="#" class="btn btn-default" role="button">Remove Product</a>
                            </p>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div id="prod12" class="products">
            <div class="col-sm-3 col-md-3">

            </div>
        </div>
    </div>
</div>

</body>
</html>