fieldset {
    font-family: 'Droid Sans', sans-serif;
    text-weight: bold;
    font-size: large;
    display: block;
}

body {
    font-family: 'Droid Sans', sans-serif;
    background-color: lightskyblue;
}

.admin {
    font-family: 'Droid Sans', sans-serif;
    margin-top: 4%;
}