
html{
    padding: 0px;
    background:#AFEEEE;
}

body {
    font-family: 'Droid Sans', sans-serif;
    background-image: url(images/dataSS.jpg);
    padding:20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



