html{
    padding: 0px;
    background:#AFEEEE;
}

h1 {
    color: white;
    font-weight:bold;
}

.btn:hover {
    background-color: deepskyblue;
}

body {
    font-family: 'Open Sans', sans-serif;

    background-image: url(images/dataSS.jpg);
    padding:20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.flashes {
    background-color: burlywood;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    font-weight: bold;
    text-decoration-color: orangered;
    max-width: 325px;
    margin: auto;
    border: dotted 2px indianred;
}

fieldset {
    padding:20px;
    width: 50%;

}

.form-group label {
    font-family: 'Open Sans', sans-serif;
    display: block;
    color:black;
    text-transform: uppercase;
    text-align: start;
    font-weight: bold;
    margin-bottom: 3px;
}

.form-group input {
    border: 2px solid #438bf4;
    width: 100%;
    background-color: transparent;
    font-size: 16px;
    padding: 5px 0;
}

.form-group input:focus {
    outline: 0;
}